* {
  margin: 0;
  padding: 0;
  
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  background-color: white;
}

.left-section {
  display: flex;
  align-items: center;
  font-size: 5px;
  width: 20%;
  margin-left: 15px;
}

.logo {
  
}

.company-name {
  font-family: Archivo;
  font-style: Regular;
  font-size: 19.51px;
  line-height: 18px;
  line-height: 100%;
  vertical-align: Top;
  color: #000000;
}

.search-section {
  flex-grow: .5;
  margin: 0 1rem;
  margin-bottom: 5px;
}

.navigation {
  display: flex;
  gap: 4rem;
}

.navigation__link:hover{
  color: #000000;
}

.navigation a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #8484a0;
  text-decoration: none;
}

.right-section {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.user {
  color: #A1A3D4;
  margin-right: 25px;
}

.option {
  color: #A1A3D4;
}
